@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #A69CAC 1.84%, #266dbd 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #A69CAC -13.86%, #266dbd 99.55%);
  --color-bg: #0D0C1D;
  --color-footer : #0D0C1D;
  --color-blog: #042c54;
  --color-text: #A69CAC;
  --color-subtext: #F1DAC4;
}