.navbar {
	width: 100%;
	height: 70px;
	background-color: #FF934F;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: 91F5AD;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: 91F5AD;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
